Classificaça o do Aluno baseado no nu mero do INDE, o

conceito de classificaça o e dado por:
Quartzo – 2,405 a 5,506
A gata – 5,506 a 6,868
Ametista – 6,868 a 8,230
Topa zio – 8,230 a 9,294.
Cada Pedra possui uma descriça o.

In [35]:
import pandas as pd

df_aluno = pd.read_csv('csv_output/Tabelas/TbAluno/Merge/merged_data.csv')
df_aluno

,IdAlunoRotinaEducacaoInfantil,IdAluno,IdTurma_x,Data,IdProfessorResponsavel,IdUsuarioResponsavel,IdFormularioRotinaEducacaoInfantil,IdAlunoObs,IdTipoOcorrencia,StImpedimento,...,StRecursoLinguaPortuguesaSegundaLingua,StRecursoProvaEmVideo,StPermiteUsoImagem,StEstrangeiro,Unnamed: 55,DataOcorrencia_y,IdTurma,IdSituacaoAlunoTurma_y,IdFaseNotaInicial_y,IdUsuario
0,16139,727,231,2021-08-24 00:00:00,11.0,NaN,1,9789,21,False,...,False,False,False,False,NaN,2021-08-20 17:44:09.803000,231,1.0,NaN,15
1,16139,727,231,2021-08-24 00:00:00,11.0,NaN,1,9789,21,False,...,False,False,False,False,NaN,2021-09-22 12:25:38.363000,142,1.0,NaN,14
2,16139,727,231,2021-08-24 00:00:00,11.0,NaN,1,9789,21,False,...,False,False,False,False,NaN,2021-12-28 15:14:53.953000,142,9.0,NaN,15
3,16139,727,231,2021-08-24 00:00:00,11.0,NaN,1,9789,21,False,...,False,False,False,False,NaN,2021-12-28 15:21:27.383000,231,9.0,NaN,15
4,16139,727,231,2021-08-24 00:00:00,11.0,NaN,1,9789,21,False,...,False,False,False,False,NaN,2022-02-09 14:53:07.403000,198,1.0,NaN,16
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
49084,118059,1310,505,2023-03-21 00:00:00,21.0,NaN,1,22845,32,False,...,False,False,False,False,NaN,2024-01-16 14:31:41.797000,597,9.0,NaN,15
49085,118059,1310,505,2023-03-21 00:00:00,21.0,NaN,1,22845,32,False,...,False,False,False,False,NaN,2024-01-16 14:35:21.527000,574,9.0,NaN,15
49086,118059,1310,505,2023-03-21 00:00:00,21.0,NaN,1,22845,32,False,...,False,False,False,False,NaN,2024-01-26 15:41:33.793000,662,1.0,NaN,297
49087,118059,1310,505,2023-03-21 00:00:00,21.0,NaN,1,22845,32,False,...,False,False,False,False,NaN,2024-01-26 15:42:12.230000,724,1.0,NaN,297
49088,118059,1310,505,2023-03-21 00:00:00,21.0,NaN,1,22845,32,False,...,False,False,False,False,NaN,2024-02-02 19:54:20.163000,711,1.0,NaN,15

In [29]:
df_aluno.shape

(49089, 116)

In [21]:
df_aluno.groupby('IdTipoOcorrencia').size().reset_index(name='count').sort_values(by='count', ascending=False)

    IdTipoOcorrencia  count
4                 20  10812
3                 14   8316
5                 21   8218
6                 26   7306
9                 32   5244
10                35   2975
8                 30   2496
2                 13   2414
1                 12    882
7                 27    300
0                 11    126

#### Tipo de Ocorrência:
- 20: Grupo 2 - Ansiedade (Angústia) HD
- 14: Grupo 6 - Baixa concentração/ Falta de Foco
- 21: Grupo 4 - Vulnerabilidade emocional

In [25]:
df_aluno.groupby('IdSituacaoAlunoTurma_x').size().reset_index(name='count').sort_values(by='count', ascending=False)

   IdSituacaoAlunoTurma_x  count
1                       9  43418
0                       1   4005
2                      14   1594
3                      19     72

#### Situação:
- 9: Passou de ano, troca de fase anual
- 14: Desistente

In [30]:
df_aluno.groupby('IdSituacaoAlunoTurma_y').size().reset_index(name='count').sort_values(by='count', ascending=False)

   IdSituacaoAlunoTurma_y  count
0                     1.0  25394
2                     9.0  15333
3                    14.0    703
1                     5.0     28
4                    19.0     28

In [34]:
df_aluno.groupby(['IdAluno', 'IdSituacaoAlunoTurma_x']).size()
## wtf, tem aluno com 13k situacoes??

IdAluno  IdSituacaoAlunoTurma_x
727      1                          2125
         9                         12750
740      9                           300
747      9                           800
         14                          400
773      9                         20412
1147     1                          1664
         9                          8320
1174     9                           620
         14                          930
1267     14                          264
1310     1                           216
         9                           216
         19                           72
dtype: int64

### Conclusões iniciais

#### Situação:
- 9: Passou de ano, troca de fase anual
- 14: Desistente

#### Tipo de Ocorrência:
- 20: Grupo 2 - Ansiedade (Angústia) HD
- 14: Grupo 6 - Baixa concentração/ Falta de Foco
- 21: Grupo 4 - Vulnerabilidade emocional
- -99: Falta Justificada

**Não podemos confiar na tabela csv_output/Tabelas/TbAluno/Merge/merged_data.csv**

In [37]:
df_aluno_raw = pd.read_csv('csv_output/Tabelas/TbAluno/Originais anonimizados/TbAluno.csv')
df_aluno_raw

,IdAluno,NomeAluno,NomeAbreviado,IdUnidade,Sexo,EstadoCivil,DataNascimento,IdPai,IdMae,IdResponsavel,...,StRecursoLeituraLabial,StRecursoMaterialDidaticoProvaBraille,StRecursoProvaAmpliada,StRecursoProvaSuperampliada,StRecursoCdComAudio,StRecursoLinguaPortuguesaSegundaLingua,StRecursoProvaEmVideo,StPermiteUsoImagem,StEstrangeiro,Unnamed: 55
0,3,Aluno 1,NaN,1.0,F,5.0,2005-03-29 03:00:00,NaN,5,5.0,...,False,False,False,False,False,False,False,False,False,NaN
1,4,Aluno 2,NaN,1.0,F,5.0,2004-11-04 02:00:00,6.0,NaN,6.0,...,False,False,False,False,False,False,False,False,False,NaN
2,5,Aluno 3,NaN,1.0,F,5.0,2002-01-25 02:00:00,NaN,NaN,7.0,...,False,False,False,False,False,False,False,False,False,NaN
3,6,Aluno 4,NaN,1.0,M,5.0,2002-10-07 03:00:00,NaN,8,8.0,...,False,False,False,False,False,False,False,False,False,NaN
4,7,Aluno 5,NaN,1.0,M,5.0,2002-12-23 02:00:00,NaN,9,9.0,...,False,False,False,False,False,False,False,False,False,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2233,2258,Aluno 2234,NaN,1.0,M,5.0,2009-05-04 00:00:00,NaN,NaN,1559.0,...,False,False,False,False,False,False,False,False,False,NaN
2234,2259,Aluno 2235,NaN,1.0,M,5.0,2009-10-21 00:00:00,NaN,NaN,1559.0,...,False,False,False,False,False,False,False,False,False,NaN
2235,2260,Aluno 2236,NaN,1.0,F,5.0,2008-03-12 00:00:00,NaN,NaN,1559.0,...,False,False,False,False,False,False,False,False,False,NaN
2236,2261,Aluno 2237,NaN,1.0,M,5.0,2014-05-15 00:00:00,NaN,NaN,1559.0,...,False,False,False,False,False,False,False,False,False,NaN
2237,2262,Aluno 2238,NaN,1.0,M,5.0,2015-01-27 00:00:00,1769.0,NaN,1769.0,...,False,False,False,False,False,False,False,False,False,NaN

In [39]:
df_ocorrencia_raw = pd.read_csv('csv_output/Tabelas/TbAluno/Originais anonimizados/TbAlunoObs.csv')
df_ocorrencia_raw

,IdAluno,IdAlunoObs,IdTipoOcorrencia,StImpedimento,DataOcorrencia,IdUsuarioRegistro,ObservacaoRegistro,DataLiberacao,IdUsuarioLiberacao,ObservacaoLiberacao,DataInclusao,StExibirInternet,IdProfessorRegistro,DataInicialAtestado,DataFinalAtestado
0,2,1,10,False,2021-07-26 00:00:00,13,O aluno tem dificuldades com o horário,NaN,NaN,NaN,2021-07-26 19:30:00,False,NaN,NaN,NaN
1,145,2,12,False,2021-08-18 00:00:00,15,"Aluno foi transferido da Turma 4A para a 4F, p...",NaN,NaN,NaN,2021-08-18 15:19:00,True,NaN,NaN,NaN
2,146,3,12,False,2021-08-18 00:00:00,15,"Aluno foi transferido da Turma 4G para a 4F, p...",NaN,NaN,NaN,2021-08-18 15:20:00,False,NaN,NaN,NaN
3,456,4,12,False,2021-08-24 00:00:00,15,Transferido da 2C para a 2J devido a mudança ...,NaN,NaN,NaN,2021-08-24 17:01:00,True,NaN,NaN,NaN
4,119,5,12,False,2021-08-24 00:00:00,15,Aluna já estava assistindo as aulas da turma 5...,NaN,NaN,NaN,2021-08-24 17:10:00,True,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
26424,360,26595,37,False,2024-04-10 00:00:00,316,2 parte do Livro: Como criar filhos compassiva...,NaN,NaN,NaN,2024-07-02 22:45:00,False,NaN,NaN,NaN
26425,360,26596,37,False,2024-06-19 00:00:00,316,Livro: A parte que falta,NaN,NaN,NaN,2024-07-02 22:46:00,False,NaN,NaN,NaN
26426,2177,26597,37,False,2024-07-03 00:00:00,316,Palestra sobre a importância do Brincar com a ...,NaN,NaN,NaN,2024-07-03 11:07:00,False,NaN,NaN,NaN
26427,899,26598,-99,False,2024-07-05 00:00:00,297,o interclasse no dia 27/06 no horário das 07h3...,NaN,NaN,NaN,2024-07-05 09:48:00,False,NaN,2024-06-27 00:00:00,2024-06-27 23:59:00
26428,674,26599,-99,False,2024-07-05 00:00:00,297,Falta justificada 27/06 (Inglês Canada )- Jogo...,NaN,NaN,NaN,2024-07-05 10:39:00,False,NaN,2024-06-27 00:00:00,2024-06-27 00:00:00

In [42]:
df_ocorrencia_raw.groupby(['IdTipoOcorrencia']).size().reset_index(name='count').sort_values(by='count', ascending=False)

    IdTipoOcorrencia  count
21                31  11315
11                20   2693
14                24   2500
0                -99   1996
20                30   1822
23                33   1197
5                 12    749
6                 13    742
22                32    574
9                 17    378
26                37    351
16                26    331
7                 14    263
13                22    245
12                21    235
10                18    221
24                34    179
4                 11    166
17                27    156
8                 15     69
15                25     49
2                  8     49
25                35     28
28                41     25
31                45     24
27                38     20
1                  6     13
19                29     12
29                42     10
18                28      8
30                43      6
3                 10      3

#### Tipo de Ocorrência:
- 20: Grupo 2 - Ansiedade (Angústia) HD
- 14: Grupo 6 - Baixa concentração/ Falta de Foco
- 21: Grupo 4 - Vulnerabilidade emocional
- -99: Falta Justificada

In [43]:
df_historico_turma_raw = pd.read_csv('csv_output/Tabelas/TbAluno/Originais anonimizados/TbAlunoTurmaHistorico.csv')
df_historico_turma_raw

,IdAluno,DataOcorrencia,IdTurma,IdSituacaoAlunoTurma,IdFaseNotaInicial,IdUsuario
0,1,2022-02-14 14:21:16.343000,275,1.0,NaN,299
1,1,2022-02-21 17:14:02.880000,275,NaN,NaN,299
2,2,2020-06-23 09:23:28.770000,35,1.0,NaN,11
3,2,2021-07-21 16:57:05.170000,53,1.0,NaN,13
4,2,2021-07-22 16:33:40.257000,53,9.0,NaN,13
...,...,...,...,...,...,...
24063,2259,2024-06-27 15:12:47.553000,715,5.0,NaN,313
24064,2260,2024-06-27 16:35:01.807000,661,5.0,NaN,313
24065,2260,2024-06-27 16:35:30.767000,683,5.0,NaN,313
24066,2261,2024-06-27 17:09:24.367000,619,5.0,NaN,313
24067,2262,2024-06-27 17:51:59.763000,616,5.0,NaN,313

In [51]:
df_historico_turma_raw = df_historico_turma_raw[['IdAluno', 'DataOcorrencia', 'IdTurma', 'IdSituacaoAlunoTurma']]
df_historico_turma_raw.dropna(inplace=True)
df_historico_turma_raw

       IdAluno              DataOcorrencia  IdTurma  IdSituacaoAlunoTurma
0            1  2022-02-14 14:21:16.343000      275                   1.0
2            2  2020-06-23 09:23:28.770000       35                   1.0
3            2  2021-07-21 16:57:05.170000       53                   1.0
4            2  2021-07-22 16:33:40.257000       53                   9.0
5            2  2021-07-23 10:46:15.973000       53                   1.0
...        ...                         ...      ...                   ...
24063     2259  2024-06-27 15:12:47.553000      715                   5.0
24064     2260  2024-06-27 16:35:01.807000      661                   5.0
24065     2260  2024-06-27 16:35:30.767000      683                   5.0
24066     2261  2024-06-27 17:09:24.367000      619                   5.0
24067     2262  2024-06-27 17:51:59.763000      616                   5.0

[20896 rows x 4 columns]

In [52]:
df_historico_turma_raw.groupby(['IdSituacaoAlunoTurma']).size().reset_index(name='count').sort_values(by='count', ascending=False)

   IdSituacaoAlunoTurma  count
0                   1.0  12311
3                   9.0   5536
6                  14.0   1574
2                   5.0   1085
8                  19.0    277
5                  12.0     71
9                  22.0     27
4                  10.0     12
1                   4.0      2
7                  16.0      1

#### Situação:
- 1: Cursando
- 9: Passou de ano, troca de fase anual
- 14: Desistente

In [122]:
df_historico_turma_raw.groupby(['IdAluno', 'IdSituacaoAlunoTurma']).size().reset_index(name='count').sort_values(by='count', ascending=False)
df_historico_turma_raw.reset_index(drop=True, inplace=True)
# df_historico_aluno = df_historico_turma_raw[['IdAluno', 'IdSituacaoAlunoTurma']].dropna()
# df_historico_aluno

df_historico_turma_raw

       IdAluno              DataOcorrencia  IdTurma  IdSituacaoAlunoTurma
0            1  2022-02-14 14:21:16.343000      275                   1.0
1            2  2020-06-23 09:23:28.770000       35                   1.0
2            2  2021-07-21 16:57:05.170000       53                   1.0
3            2  2021-07-22 16:33:40.257000       53                   9.0
4            2  2021-07-23 10:46:15.973000       53                   1.0
...        ...                         ...      ...                   ...
20891     2259  2024-06-27 15:12:47.553000      715                   5.0
20892     2260  2024-06-27 16:35:01.807000      661                   5.0
20893     2260  2024-06-27 16:35:30.767000      683                   5.0
20894     2261  2024-06-27 17:09:24.367000      619                   5.0
20895     2262  2024-06-27 17:51:59.763000      616                   5.0

[20896 rows x 4 columns]

In [115]:
df_historico_turma_raw.info()

<class 'pandas.core.frame.DataFrame'>
Index: 20896 entries, 0 to 24067
Data columns (total 4 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   IdAluno               20896 non-null  int64
 1   DataOcorrencia        20896 non-null  object
 2   IdTurma               20896 non-null  int64
 3   IdSituacaoAlunoTurma  20896 non-null  float64
dtypes: float64(1), int64(2), object(1)
memory usage: 816.2+ KB

In [81]:
id_aluno_ref = 387

In [82]:
df_situacao_turma = pd.read_csv('csv_output/Tabelas/TbSituacaoAlunoDisciplina/Originais anonimizados/TbSituacaoAlunoDisciplina.csv')
df_situacao_turma[['IdAluno', 'IdDisciplina', 'IdTurma', 'IdSituacaoAlunoDisciplina']].dropna()
## search by 'IdAluno' == id_aluno_ref] and 'IdSituacaoAlunoDisciplina' == 1
df_situacao_turma.loc[df_situacao_turma['IdAluno'] == id_aluno_ref].groupby('SituacaoAtual').size().reset_index(name='count').sort_values(by='count', ascending=False)

  SituacaoAtual  count
1             C     14
0             A      2

In [83]:
df_diario_frequencia = pd.read_csv('csv_output/Tabelas/TbDiario/Merge/TbDiarioFrequencia.csv')
df_diario_frequencia

        IdDiarioFrequencia  IdDiarioAula  IdAluno StPresencaFalta
0                        1             6      384               P
1                        2             6      385               P
2                        3             6      386               P
3                        4             6      387               P
4                        5             6      388               P
...                    ...           ...      ...             ...
313155              318331         25336      866               P
313156              318332         25336     1049               P
313157              318333         25336      609               P
313158              318334         25336     1183               P
313159              318335         25336     1249               P

[313160 rows x 4 columns]

In [8]:
df_diario_frequencia.shape

(313160, 4)

In [94]:
df_diario_frequencia = df_diario_frequencia[['IdAluno', 'StPresencaFalta']]
df_diario_frequencia_grouped = df_diario_frequencia.groupby(['IdAluno', 'StPresencaFalta']).size().reset_index(name='count').sort_values(by='count', ascending=False)

df_diario_frequencia_grouped.groupby('StPresencaFalta').size().reset_index(name='count').sort_values(by='count', ascending=False)

  StPresencaFalta  count
2               P   2112
0               F   2034
1               J   1020

In [113]:
# Assuming df is your DataFrame
pivot_df = df_diario_frequencia_grouped.pivot_table(index='IdAluno', columns='StPresencaFalta', values='count', aggfunc='sum', fill_value=0)

# Rename columns using the rename method
pivot_df = pivot_df.rename(columns={'F': 'Absences', 'P': 'Present', 'J': 'Justified Absences'})

# If 'F' and 'J' are already renamed, you can skip renaming and directly sum them
pivot_df['Total_Absences'] = pivot_df['Absences'] + pivot_df['Justified Absences']

# Rename columns if needed
pivot_df.columns.name = None  # Removes the 'StPresencaFalta' from being part of the columns

pivot_df = pivot_df.reset_index()  # Resets the index to make 'IdAluno' a column
pivot_df

      IdAluno  Absences  Justified Absences  Present  Total_Absences
0           2         0                   0        2               0
1           3        24                   0      158              24
2           4        70                   0       48              70
3           5        11                   0       16              11
4           6        27                   0        0              27
...       ...       ...                 ...      ...             ...
2129     2235         0                   0       15               0
2130     2236         0                   0       14               0
2131     2237         0                   0       12               0
2132     2238         0                   1       11               1
2133     2241         4                   0        8               4

[2134 rows x 5 columns]

In [114]:
pivot_df = pivot_df[['IdAluno', 'Present', 'Total_Absences']]  # Reorders the columns
pivot_df

      IdAluno  Present  Total_Absences
0           2        2               0
1           3      158              24
2           4       48              70
3           5       16              11
4           6        0              27
...       ...      ...             ...
2129     2235       15               0
2130     2236       14               0
2131     2237       12               0
2132     2238       11               1
2133     2241        8               4

[2134 rows x 3 columns]

In [116]:
# Merge the two DataFrames on the 'IdAluno' column
merged_df = pd.merge(pivot_df, df_historico_turma_raw, on='IdAluno', how='inner')

# Inspect the merged DataFrame
merged_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 20735 entries, 0 to 20734
Data columns (total 6 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   IdAluno               20735 non-null  int64
 1   Present               20735 non-null  int64
 2   Total_Absences        20735 non-null  int64
 3   DataOcorrencia        20735 non-null  object
 4   IdTurma               20735 non-null  int64
 5   IdSituacaoAlunoTurma  20735 non-null  float64
dtypes: float64(1), int64(4), object(1)
memory usage: 972.1+ KB

In [117]:
merged_df

,IdAluno,Present,Total_Absences,DataOcorrencia,IdTurma,IdSituacaoAlunoTurma
0,2,2,0,2020-06-23 09:23:28.770000,35,1.0
1,2,2,0,2021-07-21 16:57:05.170000,53,1.0
2,2,2,0,2021-07-22 16:33:40.257000,53,9.0
3,2,2,0,2021-07-23 10:46:15.973000,53,1.0
4,2,2,0,2021-07-23 10:58:42.890000,53,9.0
...,...,...,...,...,...,...
20730,2237,12,0,2024-05-31 12:07:15.673000,665,1.0
20731,2238,11,1,2024-05-24 18:20:11.047000,668,5.0
20732,2238,11,1,2024-05-29 09:46:47.400000,668,1.0
20733,2241,8,4,2024-05-27 14:38:09.983000,699,5.0
20734,2241,8,4,2024-05-29 16:19:37.277000,699,1.0